aside{
    background-color: lightblue;
    height: 650px;
    width: 35%;
    display: flex;

}
main{
    background-color: white;
    height: 650px;
    width: 65%;
    display: flex;
    align-items: center;



}
body{
    display: flex;
}
address{
    align-items: flex-end;
    display: flex;
    
}
h2{
    left: 325px;
    
    position: relative;
}
p{
    top: 100px;
    position: relative;
}
button{
    width: 120px;
    height: 75px;
    position: relative;
    top: 175px;
  right: 300px;
    color: red;
    background-color: darkorange;
    
}
.container{
   height: 300px;
   width: 150px;
   right: 800px;
   top: 200px;
   position: relative;
}