.container {  display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo . . ."
      ". Ricardo box-pour-image-déco box-pour-image-déco"
      ". resume box-pour-image-déco box-pour-image-déco"
      ". boutton boutton ."
      ". . . .";
  }
  
  .Ricardo { grid-area: Ricardo; }
  
  .resume { grid-area: resume; }
  
  .box-pour-image-déco { grid-area: box-pour-image-déco; }
  
  .boutton { grid-area: boutton; }
  
  .logo { grid-area: logo; }
  